useDynLib(seqDNAcopy)
import("stats")
importFrom("utils", "data")
importFrom("Rcpp", "evalCpp")
importFrom("IRanges", "IRanges", "RangesList")
importFrom("DNAcopy", "CNA", "segment")
importFrom("pctGCdata", "getGCpct")
importFrom("Rsamtools", "ScanBamParam", "scanBam", "scanBamFlag")
#exportPattern("^[[:alpha:]]+")
export("bams2counts", "seqsegment")
